<h1>Listing section_titles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Textbook</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @section_titles.each do |section_title| %>
  <tr>
    <td><%= section_title.name %></td>
    <td><%= section_title.textbook_id %></td>
    <td><%= link_to 'Show', section_title %></td>
    <td><%= link_to 'Edit', edit_section_title_path(section_title) %></td>
    <td><%= link_to 'Destroy', section_title, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section title', new_section_title_path %>
