<article>
<div id="buttonarea">
	<div id="button01">
	<%=link_to image_tag("BackToList.png",  :mouseover => "BackToListHover.png",:class => "button", :alt => "Back To List" ), textbooks_path %>
	</div>
	<div id="button02">
	<%=link_to image_tag("Show.png",  :mouseover => "ShowHover.png",:class => "button", :alt => "Show" ), @textbook %>
	</div>
</div>

<div id="editarea">
<table>	
<tr><th>Edit textbook</th></tr>
<tr><td>

<%= form_for @textbook, :html => {:multipart => true} do |tb| %>
	
<div id="errormessage">
	  <% if @textbook.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@textbook.errors.count, "error") %> prohibited this textbook from being saved:</h2>

	      <ul>
	      <% @textbook.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
</div>

<div id = "leftcolumn">
	<div class="field">
		<%= tb.label :isbn13 %><br />
		<%= tb.text_field :isbn13, :autofocus => true  %>
	</div>
	<div class="field">
		<%= tb.label :title %><br />
		<%= tb.text_field :title %>
	</div>
	<div class="field">
		<%= tb.label :frontcover %><br />
		<%= image_tag(@textbook.frontcover_url(:thumb).to_s) %>
	</div>
	<div class="field">
		<%= tb.label "New Frontcover" %><br />
		<%= tb.file_field :frontcover %>
		<%= tb.hidden_field :frontcover_cache %>
		or<br />
		<%= tb.label "Remote Frontcover url" %><br />
		<%= tb.text_field :remote_frontcover_url %>
	</div>
	<div class="actions">
		<%= tb.submit "Update Textbook" %>
	</div>

</div>
<div id = "rightcolumn">
	<div class="field">
		<%= tb.label :author %><br />
		<%= tb.text_field :author %>
	</div>
	<div class="field">
		<%= tb.label :publisher %><br />
		<%= tb.text_field :publisher %>
	</div>
	<div class="field">
		<%= tb.label :category_name %><br />
		<%= tb.text_field :category_name, data: {autocomplete_source: categories_path } %>
	</div>
	<div class="field">
		<%= tb.label :subcategory_name %><br />
		<%= tb.text_field :subcategory_name, data: {autocomplete_source: category_subcategories_path(0)+"?category_name=#{@categoryname}"}  %>
	</div>
</td>
</tr>


<% end %>
</table>
</div>
</article>
