<% @page_title = " - Textbook Index"%>
<article>
<div id="buttonarea">
<span class="title">Textbook Index</span>	<%=link_to image_tag("AddTextbook.png",  :mouseover => "AddTextbookHover.png",:class => "button", :alt => "Add Textbook" ), new_textbook_path %>
</div>
<div id="indexarea">
	<% if @textbooks %>
		<table>
		  <tr>
			<th>
			<%= form_for :category, :url => { :action => 'index' }, :html => { :method => 'get' } do |f| %>
			<%= f.select :id, options_from_collection_for_select(@categories, :id, :name, :selected => @selectedCat), {}, 
			   {:onChange => 'this.form.submit();' }%>
			<% end %>				
			</th>
		    <th>
			<%= form_for :subcategory, :url => { :action => 'index' }, :html => { :method => 'get' } do |f| %>
			<%= f.hidden_field :category, :value => @selectedCat %>
			<%= f.select :id, options_from_collection_for_select(@subcategories, :id, :name, :selected => @selectedSubcat), {}, 
			   {:onChange => 'this.form.submit();', :disabled => @disableSubcat }%>
			<% end %>				

			</th>
		    <th>ISBN</th>
		    <th>Textbook Title</th>
		  </tr>
		<% @textbooks.each do |textbook| %>
		  <tr>
			<td><% if textbook.category %> <%= textbook.category.name %> <% end %></td>
		    <td><% if textbook.subcategory %> <%= textbook.subcategory.name %> <% end %></td>
		    <td><%= textbook.isbn13 %></td>
		    <td><%= link_to textbook.title, textbook %></td>
		  </tr>
		<% end %>
		</table>
	<% else %>
		No textbooks have been selected.
	<% end %>
</div>
</article>