<article>
<div id="buttonarea">
	<%=link_to image_tag("Cancel.png",  :mouseover => "CancelHover.png",:class => "button", :alt => "Cancel" ), textbooks_path %>
</div>

<div id="editarea">
<table>	
<tr><th>New textbook</th></tr>
<tr>
<td>
<%= form_for(@textbook, :url => {:action => 'create'}) do |f| %>
	<div class="field">
	  <%= f.label :ISBN %>
	  <%= f.text_field :userisbn, :autofocus => true %>
	  <%= f.submit "Find ISBN"%>
	</div>
	<% end %>
</td>
</tr>
</table>
</div>
</article>