The following Video conversion has completed.<br />
<p>Text: <%= @video.textbook.title %><br />
<% if @video.lesson %>
Page: <%= @video.lesson.page %> <br />
Lesson: <%= @video.lesson.title %>
<% elsif @video.exercise %>
Page: <%= @video.exercise.page %> <br />
Exercise: <%= @video.exercise.number %>
<% end %>
</p>