The following Video conversion has completed.<br />
<p>
<% if @video.videoable.class.to_s == "Lesson" %>
  Text: <%= @video.textbook.title %><br />
  Lesson: <%= @video.videoable.title %><br />
  Page: <%= @video.videoable.page %> <br />

<% elsif @video.videoable.class.to_s == "Exercise" %>
  Text: <%= @video.textbook.title %><br />
  Section: <%= @video.videoable.section_title.name %> <br />
  Page: <%= @video.videoable.page %> <br />
  Exercise: <%= @video.videoable.number %>

<% else %>
  Course Asset: <%= @video.videoable.name%><br />
  Title: <%= @video.title %><br />
  Description: <%= @video.description %><br />

<% end %>
</p>