The following video has been submitted for conversion.<br />
You will be informed when it is ready for viewing.
<p>Text: <%= @video.textbook.title %><br />
<% if @video.videoable.class.to_s == "Lesson" %>
Lesson: <%= @video.videoable.title %><br />
Page: <%= @video.videoable.page %> <br />
<% elsif @video.videoable.class.to_s == "Exercise" %>
Section: <%= @video.videoable.section_title.name %> <br />
Page: <%= @video.videoable.page %> <br />
Exercise: <%= @video.videoable.number %>
<% end %>
</p>