<li class="textbox">
<%= form_for [@course_asset, @textbox], remote: true do |f| %>
  <%= f.text_field :title, placeholder: "Textbox Title", size: "25" %>
  </br>
  <%= f.text_area :content, placeholder: "Textbox Content", rows: "4" %>
  </br>
  <%= f.submit :name => "commit" %>
  <%= f.submit "Cancel", :name => "commit" %>
<% end %>
</li>