<article>
	<div id="buttonarea">
		<%= form_for :course, :url => {:action => 'index' }, :html => { :method => 'get' } do |f| %>
			<%= f.select(:id, @courses.collect{|x| [x.name + (x.section ? "-"+x.section : "") , x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
		<% end %>
		
		<%=link_to image_tag("BackToCourses.png",  :mouseover => "BackToCoursesHover.png",:class => "button", :alt => "Back to Courses"), 
		           instructor_courses_path(@instructor) %>
		<%=link_to image_tag("AddAsset.png",  :mouseover => "AddAssetHover.png",:class => "button", :alt => "Add Course Asset"), 
		           new_course_asset_path(:course_id => @course.id), remote: true %>
		<%=link_to image_tag("AddTextbox.png",  :mouseover => "AddTextboxHover.png",:class => "button", :alt => "Add a Textbox"), 
		           new_course_asset_textbox_path(@course_asset), remote: true %>
	</div>
	<div id="horizontal-tabs">
		<ul class="static-tabs-nav">
			<li><a href=".current-tab">Current</a></li>
			<li><a href=".archived-tab">Archived</a></li>
			<li><a href=".future-tab">Future</a></li>
		</ul>
	</div>
	<div id="vertical-tabs">
		<ul class="dynamic-tabs-nav">
  		<span class="title">Course Assets</span>
			<% @course_assets.each do |asset| %>
				<%= render "shared/course_asset_tag", :local_asset => asset %>
  		<% end %>
		</ul>
  </div>
	<div id="panel">
      
			<div class="current-tab">
				<% if @textboxes_current %>
          <ul id="current-ul">
  					<% @textboxes_current.each do |tbox| %>
  						<%= render 'tbox', local_tbox: tbox, local_course_asset_id: @course_asset.id %>
  					<% end %>
          </ul>
				<% end %>
				<br class="clearfloat"/>				
			</div>
      
			<div class="archived-tab">
			<% if @textboxes_archived %>
          <ul id="archived-ul">
    				<% @textboxes_archived.each do |tbox| %>
  						<%= render 'tbox', local_tbox: tbox, local_course_asset_id: @course_asset.id %>
    				<% end %>
          </ul>
			<% end %>
  			<br class="clearfloat"/>
			</div>
      
			<div class="future-tab">
			<% if @textboxes_future %>
        <ul id="future-ul">
  				<% @textboxes_future.each do |tbox| %>
  						<%= render 'tbox', local_tbox: tbox, local_course_asset_id: @course_asset.id %>
  				<% end %>
          </ul>
			<% end %>
  			<br class="clearfloat"/>
			</div>
      
		</div>
	<br class="clearfloat"/>
</article>
