<article>
	<div id="buttonarea">
    <%= render 'shared/common_buttons' %>
    <%= render 'local_buttons' %>
	</div>
  
	<div id="horizontal-tabs">
		<ul class="static-tabs-nav">
			<li><a href=".current-tab">Current</a></li>
			<li><a href=".archived-tab">Archived</a></li>
			<li><a href=".future-tab">Future</a></li>
		</ul>
	</div>
  
  <%= render 'shared/vertical_tabs' %>

	<div id="panel">
      
			<div class="current-tab">
				<% if @textboxes_current %>
          <ul id="current-ul-<%= @sortable %>">
  					<% @textboxes_current.each do |tbox| %>
  						<%= render 'tbox', local_tbox: tbox, local_course_asset_id: @course_asset.id %>
  					<% end %>
          </ul>
				<% end %>
				<br class="clearfloat"/>				
			</div>
      
			<div class="archived-tab">
			<% if @textboxes_archived %>
          <ul id="archived-ul-<%= @sortable %>">
    				<% @textboxes_archived.each do |tbox| %>
  						<%= render 'tbox', local_tbox: tbox, local_course_asset_id: @course_asset.id %>
    				<% end %>
          </ul>
			<% end %>
  			<br class="clearfloat"/>
			</div>
      
			<div class="future-tab">
			<% if @textboxes_future %>
        <ul id="future-ul-<%= @sortable %>">
  				<% @textboxes_future.each do |tbox| %>
  						<%= render 'tbox', local_tbox: tbox, local_course_asset_id: @course_asset.id %>
  				<% end %>
          </ul>
			<% end %>
  			<br class="clearfloat"/>
			</div>
      
		</div>
	<br class="clearfloat"/>
</article>
