<article>
	<div id="buttonarea">
		<%= form_for :course, :url => {:action => 'index' }, :html => { :method => 'get' } do |f| %>
			<%= f.select(:id, @courses.collect{|x| [x.name + (x.section ? "-"+x.section : "") , x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
		<% end %>
		
		<%=link_to image_tag("BackToCourses.png",  :mouseover => "BackToCoursesHover.png",:class => "button", :alt => "Back to Courses"), 
		           instructor_courses_path(@instructor) %>
		<%=link_to image_tag("AddAsset.png",  :mouseover => "AddAssetHover.png",:class => "button", :alt => "Add Course Asset"), 
		           new_course_asset_path(:course_id => @course.id), remote: true %>
		<%=link_to image_tag("AddTextbook.png",  :mouseover => "AddTextbookHover.png",:class => "button", :alt => "Add a Textbook"), 
		           new_course_asset_textbook_delegation_path(@course_asset), remote: true %>
	</div>
	<div id="horizontal-tabs">
		<ul class="static-tabs-nav">
			<li><a href=".current-asset">Current</a></li>
			<li><a href=".archived-asset">Archived</a></li>
			<li><a href=".future-asset">Future</a></li>
		</ul>
	</div>
	<div id="vertical-tabs">
		<ul class="dynamic-tabs-nav">
  		<span class="title">Course Assets</span>
			<% @course_assets.each do |asset| %>
				<%= render "shared/course_asset_tag", :local_asset => asset %>
  		<% end %>
		</ul>
		<div id="panel">
			<div class="archived-asset">
			<% if @textbookDels_archived %>
				<% @textbookDels_archived.each do |tb_del| %>
					<%= render 'frontcovers', :local_tb_del => tb_del %>
				<% end %>
			<% end %>
  			<br class="clearfloat"/>
			</div>
			<div class="current-asset">
				<% if @textbookDels_current %>
					<% @textbookDels_current.each do |tb_del| %>
						<%= render 'frontcovers', :local_tb_del => tb_del %>
					<% end %>
				<% end %>
				<br class="clearfloat"/>				
			</div>
			<div class="future-asset">
			<% if @textbookDels_future %>
				<% @textbookDels_future.each do |tb_del| %>
					<%= render 'frontcovers', :local_tb_del => tb_del %>
				<% end %>
			<% end %>
  			<br class="clearfloat"/>
			</div>			
		</div>
		<br class="clearfloat"/>
	</div>
	<div id="textbook_choices_dialog"
	</div>
</article>
