<article>
	<div id="buttonarea">
		<% if @user_mode == "instructor" %>
  		<%= form_for @course, :url => {:controller => 'textbook_delegations', :action => 'index' }, :html => { :method => 'get' } do |f| %>
  			<%= f.select(:id, @choices.collect{|x| [x.name + (x.section ? "-"+x.section : "") , x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
        <%= f.hidden_field :im_hidden, :value => "hidden_course_thing" %>
  		<% end %>
    
  		<%=link_to image_tag("BackToCourses.png",  :mouseover => "BackToCoursesHover.png",:class => "button", :alt => "Back to Courses"), 
  		           instructor_courses_path(@user) %>
    <% else %>
  		<%= form_for @subject, :url => {:controller => 'textbook_delegations', :action => 'index' }, :html => { :method => 'get' } do |f| %>
  			<%= f.select(:id, @choices.collect{|x| [x.name , x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
        <%= f.hidden_field :im_hidden, :value => "hidden_subject_thing" %>
  		<% end %>
    
  		<%=link_to image_tag("BackToSubjects.png",  :mouseover => "BackToSubjectsHover.png",:class => "button", :alt => "Back to Subjects"), 
  		           student_subjects_path(@user) %>

  		<%=link_to image_tag("Enroll.png",  :mouseover => "EnrollHover.png",:class => "button", :alt => "Enroll in course"), 
  		           "#", remote: true %>
    <% end %>
    
		<%=link_to image_tag("AddAsset.png",  :mouseover => "AddAssetHover.png",:class => "button", :alt => "Add Course Asset"), 
		           new_polymorphic_path([@assetable, CourseAsset.new]), remote: true %>
               
    <% if @user_mode == "instructor" || @course_asset.assetable_type == "Subject" %>
  		<%=link_to image_tag("AddTextbook.png",  :mouseover => "AddTextbookHover.png",:class => "button", :alt => "Add a Textbook"), 
  		           new_course_asset_textbook_delegation_path(@course_asset), remote: true %>
    <% end %>
    
	</div>
	<div id="horizontal-tabs">
		<ul class="static-tabs-nav">
			<li><a href=".current-tab">Current</a></li>
			<li><a href=".archived-tab">Archived</a></li>
			<li><a href=".future-tab">Future</a></li>
		</ul>
	</div>
	<div id="vertical-tabs">
		<ul class="dynamic-tabs-nav">
  		<span class="title"><%= @asset_type %></span>
        <% @enrolled_assets.try :each do |asset| %>
  				<%= render "shared/course_asset_tag", :local_asset => asset %>
        <% end %>
  			<% @course_assets.try :each do |asset| %>
  				<%= render "shared/course_asset_tag", :local_asset => asset %>
        <% end %>
		</ul>
  </div>
	<div id="scroll-panel">
    
		<div class="current-tab">
      <ul id="current-ul-<%= @sortable %>" >
    		<% if @textbookDels_current.any? %>
    				<% @textbookDels_current.each do |tb_del| %>
    					<%= render 'frontcovers', :local_tb_del => tb_del %>
    				<% end %>
    		<% end %>
      </ul>
			<br class="clearfloat"/>				
		</div>
    
		<div class="archived-tab">
      <ul id="archived-ul-<%= @sortable %>" >
        <% if @textbookDels_archived.any? %>
          <% @textbookDels_archived.each do |tb_del| %>
            <%= render 'frontcovers', :local_tb_del => tb_del %>
          <% end %>
        <% end %>
      </ul>
      <br class="clearfloat"/>
		</div>
    
		<div class="future-tab">
      <ul id="future-ul-<%= @sortable %>" >
    		<% if @textbookDels_future.any? %>
  				<% @textbookDels_future.each do |tb_del| %>
  					<%= render 'frontcovers', :local_tb_del => tb_del %>
  				<% end %>
    		<% end %>
      </ul>
			<br class="clearfloat"/>
		</div>
    
	</div>
	<br class="clearfloat"/>
	<div id="textbook_choices_dialog">
	</div>
</article>
