<article>
	<div id="buttonarea">
    <%= render 'shared/common_buttons' %>
    <%= render 'local_buttons' %>
	</div> 
  
	<div id="horizontal-tabs">
		<ul class="static-tabs-nav">
			<li><a href=".current-tab">Current</a></li>
			<li><a href=".archived-tab">Archived</a></li>
			<li><a href=".future-tab">Future</a></li>
		</ul>
	</div>
  
  <%= render 'shared/vertical_tabs' %>
  
	<div id="scroll-panel">
    
		<div class="current-tab">
      <ul id="current-ul-<%= @sortable %>" >
    		<% if @textbookDels_current.any? %>
    				<% @textbookDels_current.each do |tb_del| %>
    					<%= render 'frontcovers', :local_tb_del => tb_del %>
    				<% end %>
    		<% end %>
      </ul>
			<br class="clearfloat"/>				
		</div>
    
		<div class="archived-tab">
      <ul id="archived-ul-<%= @sortable %>" >
        <% if @textbookDels_archived.any? %>
          <% @textbookDels_archived.each do |tb_del| %>
            <%= render 'frontcovers', :local_tb_del => tb_del %>
          <% end %>
        <% end %>
      </ul>
      <br class="clearfloat"/>
		</div>
    
		<div class="future-tab">
      <ul id="future-ul-<%= @sortable %>" >
    		<% if @textbookDels_future.any? %>
  				<% @textbookDels_future.each do |tb_del| %>
  					<%= render 'frontcovers', :local_tb_del => tb_del %>
  				<% end %>
    		<% end %>
      </ul>
			<br class="clearfloat"/>
		</div>
    
	</div>
	<br class="clearfloat"/>
	<div id="textbook_choices_dialog">
	</div>
</article>
