<div id="ujsform">
	<%= form_for @video, remote: true do |f| %>
  
    <%= f.label :title %>
    <%= f.text_field :title, size: 25 %>
  
    <%= f.label :description %>
    <%= f.text_field :description, size: 40 %>
    
    <%= f.hidden_field :course_asset_id, :value => @course_asset.id %>
    
		<%= f.submit "OK" %>
		<%= f.submit "Cancel" %>
    
	<% end %>
  
</div>
