<div id="ujsform">
	<%= form_for [@course_asset, @video], remote: true do |f| %>
  
    <%= f.label :title %>
    <%= f.text_field :title, size: 25 %>
  
    <%= f.label :description %>
    <%= f.text_field :description, size: 40 %>
    
		<%= f.file_field :videofile, :id => "video_filename" %>
                
		<%= f.submit "Cancel" %>
    
	<% end %>
</div>

<script id="template-upload" type="text/x-tmpl">
	<div class="upload">
	  <div id="uploadfilename">
			{%=o.name%}
    </div>
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div>
</script>
