<div id="ujsform">
<%= form_for [@lesson, @video], :remote => true do |f| %>
	
	<%= f.hidden_field :subject_id, :value => @subjectId %>
	
	<%= f.label "Upload New Video" %>
	<%= f.file_field :videofile, :id => "video_filename" %>
	<%= f.submit %>
	
	<%= link_to "Cancel", lesson_videos_path(@lesson, :subject_id => @subjectId) %>
<% end %>
</div>