<tr id="video_<%= video.id %>">
    <td><%= video.length %></td>
    <td><%= video.instructor.username %></td>
		
		
	<% if !video.videofile_processed || video.videofile_processed == 0 %>
		<td> <%= link_to 'Processing', '#',  id:'video_processing_'+video.id.to_s, class: 'video_processing', data: {url: video_path(video)} %>
      
		<% if @resource == "exercises" %>
	     <%= link_to 'Play', exercise_video_path(params[:exercise_id], video, :course_asset_id => @course_asset.id),  id:'video_processed_'+video.id.to_s, class: 'video_processed', data: {url: video_path(video)} %></td>
    <% else %>
	     <%= link_to 'Play', lesson_video_path(params[:lesson_id], video, :course_asset_id => @course_asset.id),  id:'video_processed_'+video.id.to_s, class: 'video_processed', data: {url: video_path(video)} %></td>
    <% end %>
         
         
	<% elsif video.videofile_processed < 0 %>
		<td>Error</td>
	<% else %>
		<td>
			<% if @resource == "exercises" %>
				<%= link_to 'Play', exercise_video_path(params[:exercise_id], video, :course_asset_id => @course_asset.id) %>
			<% else %>
				<%= link_to 'Play', lesson_video_path(params[:lesson_id], video, :course_asset_id => @course_asset.id) %>
			<% end %>
		</td>
	<% end %>
	
	
	<!-- only the video owner can replace or destroy it -->
	<% if current_instructor %>
		<% if current_instructor.id == video.instructor_id %>
			<td><%=link_to 'Replace',  "#" %></td>
		    <td><%= link_to 'Destroy', video_path(video), confirm:'Delete Video - Are you sure?', method: :delete, remote: true %></td>
		<% else %>
			<td></td>
			<td></td>
		<% end %>	
	<% end %>
</tr>