<tr>
    <td><%= video.length %></td>
    <td><%= video.instructor.screenname %></td>
	<% if !video.videofile_processed || video.videofile_processed == 0 %>
		<td>Processing</td>
	<% elsif video.videofile_processed < 0 %>
		<td>Error</td>
	<% else %>
		<td><%= link_to 'Play', lesson_video_path(lesson, video, :subject_id => subjectId) %></td>
	<% end %>
	<% if current_instructor %>
		<% if current_instructor.id == video.instructor_id %>
			<td><%=link_to 'Replace',  "#" %></td>
		    <td><%= link_to 'Destroy', lesson_video_path(lesson, video, :subject_id => subjectId), confirm:'Delete Video - Are you sure?', method: :delete %></td>
		<% else %>
			<td></td>
			<td></td>
		<% end %>	
	<% end %>
</tr>