<article>
	<div id="buttonarea">
		<%= form_for :course, :url => course_asset_textbook_delegations_path(@course_asset), :html => { :method => 'get' } do |f| %>
			<%= f.select(:id, @courses.collect{|x| [x.name + (x.section ? "-"+x.section : "") , x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
		<% end %>
		
		<%=link_to image_tag("BackToCourses.png",  :mouseover => "BackToCoursesHover.png",:class => "button", :alt => "Back to Courses"), 
		           instructor_courses_path(@instructor) %>
							 
    <%=link_to image_tag("AddVideo.png",  :mouseover => "AddVideoHover.png",:class => "button", :alt => "Add a Video"), 
		           new_course_asset_video_path(@videoable, :course_asset_id => @course_asset.id), :id => "add_video", :remote => true %>
							 
	</div>
	<div id="horizontal-tabs">
  	<ul class="static-tabs-nav">
  		<li><a href=".current-tab">Current</a></li>
  		<li><a href=".archived-tab">Archived</a></li>
  		<li><a href=".future-tab">Future</a></li>
  	</ul>
	</div>
	<div id="vertical-tabs">
		<ul class="dynamic-tabs-nav">
  		<span class="title">Course Assets</span>
			<% @course_assets.each do |asset| %>
				<%= render "shared/course_asset_tag", :local_asset => asset %>
				<% if (@course_asset == asset)&&((@resource == "exercises")||(@resource == "lessons")) %>
					<%= image_tag(@textbook.thumbnail, class: "thumbnail") %>
				<% end %>
  		<% end %>
		</ul>
  		<div id="scroll-panel">

  			<div class="current-tab">
  				<% if @videos_current %>
      				<%= render "video_table", :local_videos => @videos_current, local_course_asset_id: @course_asset.id %>
  				<% end %>
  				<br class="clearfloat"/>				
  			</div>
      
  			<div class="archived-tab">
  			<% if @videos_archived %>
      				<%= render "video_table", :local_videos => @videos_archived, local_course_asset_id: @course_asset.id %>
  			<% end %>
    			<br class="clearfloat"/>
  			</div>
      
  			<div class="future-tab">
  			<% if @videos_future %>
      				<%= render "video_table", :local_videos => @videos_future, local_course_asset_id: @course_asset.id %>
  			<% end %>
    			<br class="clearfloat"/>
  			</div>     
        
      </div>
      <br class="clearfloat"/>
	</div>
</article>
