<article>
	<div id="buttonarea">
		<%= form_for :assetable, :url => course_asset_textbook_delegations_path(@course_asset), :html => { :method => 'get' } do |f| %>
			<%= f.select(:id, @choices.collect{|x| [x.name + (x.section ? "-"+x.section : "") , x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
		<% end %>
		
		<% if @user.class.to_s == "Instructor" %>
  		<%=link_to image_tag("BackToCourses.png",  :mouseover => "BackToCoursesHover.png",:class => "button", :alt => "Back to Courses"), 
  		           instructor_courses_path(@user) %>
    <% else %>
  		<%=link_to image_tag("BackToSubjects.png",  :mouseover => "BackToSubjectsHover.png",:class => "button", :alt => "Back to Subjects"), 
  		           student_subjects_path(@user) %>
    <% end %>
    
		<%=link_to image_tag("AddAsset.png",  :mouseover => "AddAssetHover.png",:class => "button", :alt => "Add Course Asset"), 
		           new_polymorphic_path([@assetable, CourseAsset.new]), remote: true %>
               
    <%=link_to image_tag("AddVideo.png",  :mouseover => "AddVideoHover.png",:class => "button", :alt => "Add a Video"), 
		           new_polymorphic_path([@videoable, Video.new], {:course_asset_id => @course_asset.id}.merge(@query_string)), :id => "add_video", :remote => true %>
							 
	</div>
	<div id="horizontal-tabs">
  	<ul class="static-tabs-nav">
  		<li><a href=".current-tab">Current</a></li>
  		<li><a href=".archived-tab">Archived</a></li>
  		<li><a href=".future-tab">Future</a></li>
  	</ul>
	</div>
  
	<div id="vertical-tabs">
    
    <div id="asset-title">
  		<span class="title"><%= @asset_type %></span>
    </div>
  
    <div id="all-assets">

      <div id="enrolled_assets" class="height-fix">
        <ul class="dynamic-tabs-nav <%= @sortable_assets %>">
        <% @enrolled_assets.try :each do |asset| %>
  				<%= render "shared/course_asset_tag", :local_asset => asset %>
        <% end %>
        </ul>
      </div>
    
      <div id="course_assets" class="height-fix">
        <ul class="dynamic-tabs-nav  sortable">
    			<% @course_assets.try :each do |asset| %>
    				<%= render "shared/course_asset_tag", :local_asset => asset %>
          <% end %>
        </ul> 
      </div>
    
    </div>
      
  </div>
  
	<div id="noscroll-panel">
    <div id="videotables">
  		<div class="current-tab">
        <div id="current-videotable"  class="tableContainer">
  				<%= render "video_table", :local_videos => @videos_current, local_course_asset_id: @course_asset.id %>
        </div>
  			<br class="clearfloat"/>				
  		</div>
  
  		<div class="archived-tab">
        <div id="archived-videotable"  class="tableContainer">
  				<%= render "video_table", :local_videos => @videos_archived, local_course_asset_id: @course_asset.id %>
        </div>
  			<br class="clearfloat"/>
  		</div>
  
  		<div class="future-tab">
        <div id="future-videotable"  class="tableContainer">
  				<%= render "video_table", :local_videos => @videos_future, local_course_asset_id: @course_asset.id %>
        </div>
  			<br class="clearfloat"/>
  		</div>     
      <br class="clearfloat"/>
    </div>
	</div>
  
</article>
