<article>

	<div id="buttonarea">
    <%= render 'shared/common_buttons' %>
    <%= render 'local_buttons' %>
	</div>
  
	<div id="horizontal-tabs">
		<ul class="dynamic-tabs-nav">
		  <%= content_tag(:li, @video.description, class: "activeTab") %>
		</ul>
	</div>
  
  <%= render 'shared/vertical_tabs' %>  
       
	<div id="noscroll-panel">
    <%= render "show_video", :local_video => @video %>
	</div>
	<br class="clearfloat"/>
  
</article>
