<article> 
	<div id="login-register", class="visible">
		<div id="data-entry">
		  <%= render 'shared/resource_heading', :formtype => "password change" %>  
		  <div id="data-entry-form">
				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
				  <div class="left-entry-panel">
					  <%= f.hidden_field :reset_password_token %>
					  <%= f.password_field :password, class: "wide", placeholder: "New Password", tabindex: 1 %>
					</div>
				  <div class="right-entry-panel">
					  <%= f.password_field :password_confirmation, class: "wide", placeholder: "Re-enter Password", tabindex: 2  %>
					</div>
					<% msg = "Reset password token is invalid" %>
					<% if flash[:alert] && (flash[:alert].include? msg) %>
					  <%= link_to "Re-send password reset instructions?", new_password_path(resource_name) %>
					<% end %>
					<%= image_submit_tag "Submit.png", :onmouseover => "this.src='/assets/SubmitHover.png'",
						                                 :onmouseout => "this.src='/assets/Submit.png'", class: "signin" %>
				<% end %>
				<%= link_to image_tag("Cancel.png",  :mouseover => "CancelHover.png", :alt => "Cancel" , class: "cancel-link"), root_path  %>
			</div>
		</div>
	</div>
</article>
