<div id="data-entry">
  <% if "#{resource_name}" == "instructor" %>
      <%= image_tag("I.png", class: "login_img") %>
      <span class="login">nstructor login</span>
      
    <% elsif "#{resource_name}" == "student" %>
      <%= image_tag("S.png", class: "login_img") %>
      <span class="login">tudent login</span>

    <% elsif "#{resource_name}" == "parent" %>
      <%= image_tag("P.png", class: "login_img") %>
      <span class="login">arent login</span>

    <% end %>
    <div id="login-form">
    	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    		<label class="input">
    			<span>Email address</span>
    			<%= f.email_field :email, size: 25 %>
    		</label>
    		<label class="input">
    			<span>Password</span>  
    			<%= f.password_field :password, size: 20 %>
    		</label>   
    		<% if devise_mapping.rememberable? %>
    			<%= f.check_box :remember_me, class: "remember-me" %> <%= f.label :remember_me, class: "remember-me"  %>
    		<% end %>
    		<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    			<%= link_to "Forgot password?", new_password_path(resource_name), class: "forgot-password" %>
    		<% end -%>
    		<%= image_submit_tag "Login.png", :onmouseover => "this.src='/assets/LoginHover.png'",
    		                                  :onmouseout => "this.src='/assets/Login.png'", class: "signin" %>
    	<% end %>
    	<%= image_tag "Cancel.png",  :mouseover => "CancelHover.png", :alt => "Cancel" , class: "cancel-login"  %>
    </div>
</div>
