<article> 
	<div id="login-register", class="visible">
		<div id="data-entry">
		  <%= render 'shared/resource_heading', :formtype => "confirmation request" %>
		  <div id="data-entry-form">

				<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

					<%= f.email_field :email, class: "wide", placeholder: "Email address" %>

					<%= image_submit_tag "Submit.png", :onmouseover => "this.src='/assets/SubmitHover.png'",
						                                 :onmouseout => "this.src='/assets/Submit.png'", class: "signin" %>
				<% end %>
							<%= link_to image_tag("Cancel.png",  :mouseover => "CancelHover.png", :alt => "Cancel" , class: "cancel-link"), root_path  %>
			</div>
		</div>	
	</div>
</article>