<div id="data-entry">
  <%= render 'shared/resource_heading', :formtype => "registration" %>
	<div id="data-entry-form">
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:autocomplete => "off"}) do |f| %>
				<%= f.fields_for :school do |s| %>
				  <div class="left-entry-panel">
					 	<%= f.email_field :email, class: "wide", placeholder: "Email address", tabindex: 1 %>
					  <%= f.password_field :password, class: "wide", placeholder: "Password", tabindex: 3 %>
					 	<%= f.text_field :firstname, class: "wide", placeholder: "First name", tabindex: 5 %>
						<% if resource_name != :parent %>
					    <%= s.text_field :name, data: {autocomplete_source: schools_path}, class: "wide", placeholder: "School name", tabindex: 7 %>
						<% end %>
				  </div>
				  <div class="right-entry-panel">
					 	<%= f.text_field :username, class: "wide", placeholder: "Username", tabindex: 2 %>
					  <%= f.password_field :password_confirmation, class: "wide", placeholder: "Re-enter Password", tabindex: 4 %>
					 	<%= f.text_field :lastname, class: "wide", placeholder: "Last name", tabindex: 6 %>
						<% if resource_name != :parent %>
							<%= s.text_field :town, class: "medium", placeholder: "Town or City", tabindex: 8 %>
							<%= s.text_field :state, class: "narrow", placeholder: "State", tabindex: 9 %>
						<% end %>
					</div>
					
					<% if resource_name == :student %>
						<%= f.fields_for :parent_email do |p| %>
					    <%= p.email_field :email, class: "wide", placeholder: "Parent email", tabindex: 10 %>
						<% end %>
					<% end %>
					
			  <% end %>
				<%= image_submit_tag "Register.png", :onmouseover => "this.src='/assets/RegisterHover.png'",
				                                     :onmouseout => "this.src='/assets/Register.png'", class: "signin" %>
	
			<% end %>
		<%= image_tag "Cancel.png",  :mouseover => "CancelHover.png", :alt => "Cancel" , class: "cancel-login"  %>
	</div>
</div>
