<div class="full-width-panel">
  <%= f.text_field :name, data: {autocomplete_source: schools_path}, class: "wide", placeholder: "School name", tabindex: 8 %>
	<%= f.text_field :town, class: "medium", placeholder: "Town or City", tabindex: 9 %>
	<%= f.text_field :state, class: "narrow", placeholder: "State", tabindex: 10 %>
	<%= f.hidden_field :_destroy %>	
	<%= link_to image_tag("xDelete.png",  :mouseover => "xDeleteHover.png", :alt => "Delete School" , class: "remove_fields"), '#'  %>
</div>