<div class="wide-panel">  
	<%= f.text_field :name, data: {autocomplete_source: schools_path}, class: "wide", placeholder: "School name", tabindex: 8 %>
	<%= f.text_field :town, class: "medium", placeholder: "Town or City", tabindex: 9 %>
  <% if @school_error %>
    <div class="field_with_errors">
  <% end %>
  	<%= f.text_field :state_abbrev, class: "narrow", placeholder: "State", tabindex: 10 %>
  <% if @school_error %>
    </div>
  <% end %>
  
	<%= f.hidden_field :_destroy %>	
	<%= link_to image_tag("xDelete.png",  :mouseover => "xDeleteHover.png", :alt => "Delete School" , id: "remove_#{f.object.id}", class: "remove_fields"), '#'  %>
</div>	
