	<div id="vertical-tabs">
    
    <div id="asset-title">
  		<span class="title"><%= @asset_type %></span>
    </div>
  
    <div id="all-assets">

      <div id="enrolled_assets" class="height-fix">
        <ul class="dynamic-tabs-nav <%= @sortable_assets %>">
        <% @enrolled_assets.try :each do |asset| %>
  				<%= render "shared/course_asset_tag", :local_asset => asset %>
          
    				<% if (((params[:controller] == "lessons")||(params[:controller] == "exercises"))&& (@course_asset.id == asset.id)) %>
    					<%= image_tag(@textbook.textbook_image_url(:thumb), class: "thumbnail") %>
    				<% end %>
            
        <% end %>
        </ul>
      </div>
    
      <div id="course_assets" class="height-fix">
        <ul class="dynamic-tabs-nav  sortable">
    			<% @course_assets.try :each do |asset| %>
    				<%= render "shared/course_asset_tag", :local_asset => asset %>
            
    				<% if (((params[:controller] == "lessons")||(params[:controller] == "exercises"))&& (@course_asset.id == asset.id)) %>
    					<%= image_tag(@textbook.textbook_image_url(:thumb), class: "thumbnail") %>
    				<% end %>
            
          <% end %>
        </ul> 
      </div>
    
    </div>
      
  </div>
