	<div id="vertical-tabs">
    
    <div id="all-assets">

      <div id="enrolled_assets" class="height-fix">
        
        <% if @enrolled_assets && @enrolled_assets.count > 0 %>
          <div class="asset-title">
        		<span class="title"><%= @enrolled_asset_title %></span>
          </div>
        <% end %>
  
        <ul class="dynamic-tabs-nav <%= @sortable_assets %>">
        <% @enrolled_assets.try :each do |asset| %>
  				<%= render "shared/course_asset_tag", :local_asset => asset %>
          
    				<% if (((params[:controller] == "lessons")||(params[:controller] == "exercises")|(params[:controller] == "textbook_videos"))&& (@course_asset.id == asset.id)) %>
    					<%= image_tag(@textbook.textbook_image_url(:thumb), class: "thumbnail") %>
    				<% end %>
            
        <% end %>
        </ul>
      </div>
    
      <div id="course_assets" class="height-fix">
        
        <% if @course_assets && @course_assets.count > 0 %>      
          <div class="asset-title">
            <span class="title"><%= @course_asset_title %></span>
          </div>
        <% end %>
        
        <ul class="dynamic-tabs-nav  sortable">
    			<% @course_assets.try :each do |asset| %>
    				<%= render "shared/course_asset_tag", :local_asset => asset %>
            
    				<% if (((params[:controller] == "lessons")||(params[:controller] == "exercises")|(params[:controller] == "textbook_videos"))&& (@course_asset.id == asset.id)) %>
    					<%= image_tag(@textbook.textbook_image_url(:thumb), class: "thumbnail") %>
    				<% end %>
            
          <% end %>
        </ul> 
      </div>
    
    </div>
      
  </div>
