<tr id="document_id_<%=local_doc.id %>" data-model="document" data-model_id="<%= local_doc.id %>" >
  <td>
    <%= link_to local_doc.docfile.file.filename, course_asset_document_path(local_course_asset_id, local_doc.id, @query_string), remote:true, title: 'View Document' %> 
  </td>
  <td>
    <%= local_doc.description %>   
  </td>
  <td>
    <%= link_to image_tag("EditIcon.png",  :mouseover => "EditIconHover.png",:class => "button", :alt => "Edit Document"), 
        edit_course_asset_document_path(local_course_asset_id, local_doc.id), title: 'Edit Description', remote: true %>
  </td>
  <td>
    <%= link_to image_tag("xDelete.png",  :mouseover => "xDeleteHover.png",:class => "button", :alt => "Delete Document"),  
    course_asset_document_path(local_course_asset_id, local_doc.id), :confirm => "Delete #{local_doc.docfile.file.filename} - Are you sure?", 
    method: :delete, title: 'Delete Document', remote: true %>
  </td>
</tr>