<div id="ujsform">
  <%= form_for [@course_asset, @document], remote: true do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit "Update", :name => "commit" %>
  	<%= f.submit "Cancel", :name => "commit" %>
  <% end %>
</div>