<div id="ujsform">
	<%= form_for [@course_asset, @document], remote: true do |f| %>
		<%= f.label :file %>
		<%= f.file_field :docfile, :id => "document_filename" %>
    
    <%= f.label :description %>
    <%= f.text_field :description %>
    
    <%= f.hidden_field :archived, :value => archived_val %>
    
    <%= f.submit :name => "commit" %>
		<%= f.submit "Cancel", :name => "commit" %>
	<% end %>
</div>
