<article>
	<div id="buttonarea">
    <%= render 'shared/common_buttons' %>
    <%= render 'local_buttons' %>
	</div>
  
	<div id="horizontal-tabs">
		<ul class="dynamic-tabs-nav">
		  <%= content_tag(:li, @document.description, class: "activeTab") %>
		</ul>
	</div>

  <%= render 'shared/vertical_tabs' %>  
        
	<div id="panel">    
    <%= render 'show_document', local_document: @document %>
	</div>
	<br class="clearfloat"/>

</article>
