<div id="ujsform" >
		<span class="title"><%= @subject.name %></span>

    <%= form_for @enrollment, url: subject_enrollments_path(@subject), :html => { :method => 'post'}, remote:true do |f| %>
    
  	<%= f.label :instructor, class:"flush" %>
  	<%= collection_select(:instructor, :id, @instructors, :id, :lastname, include_blank: true) %>

  	<%= f.label :course, class:"flush" %>
  	<%= f.grouped_collection_select(:course_id, @instructors,  :courses, :lastname, :id, :name_and_section, include_blank: true) %>

    <%= f.label :passphrase, class:"flush" %>
    <%= f.text_field :passphrase, size: 25 %>
    
  	<%= f.submit "Enroll", :name => "commit", :id => "enroll_submit" %>
  	<%= f.submit "Cancel", :name => "commit", :id => "enroll_cancel" %>

<% end %>
</div>

