<article>
	<div id="buttonarea">
    <%= render 'shared/common_buttons' %>
    <%= render 'local_buttons' %>
	</div>
  
	<div id="horizontal-tabs">
		<ul class="static-tabs-nav">
			<li><a href=".current-tab">Current</a></li>
			<li><a href=".archived-tab">Archived</a></li>
			<li><a href=".future-tab">Future</a></li>
		</ul>
	</div>
  
  <%= render 'shared/vertical_tabs' %>
  
	<div id="noscroll-panel">
    <div id="linktables">
  		<div class="current-tab">
  			<%= render 'link_table', local_links: @links_current, local_course_asset_id: @course_asset.id %>
  			<br class="clearfloat"/>				
  		</div>
    
  		<div class="archived-tab">
  			<%= render 'link_table', local_links: @links_archived, local_course_asset_id: @course_asset.id %>
  			<br class="clearfloat"/>
  		</div>
    
  		<div class="future-tab">
  			<%= render 'link_table', local_links: @links_future, local_course_asset_id: @course_asset.id %>
  			<br class="clearfloat"/>
  		</div>
    </div>
	</div>
	<br class="clearfloat"/>

</article>
