<tr id="textbook_video_id_<%= local_video.id %>" data-model="textbook_video" data-model_id="<%= local_video.id %>">
    <td><%= local_video.videofile.file.original_filename %></td>
    <td><%= link_to image_tag("replaceIcon.png",  :mouseover => "replaceIconHover.png", :class => "button", :alt => "Replace Video"),
                  polymorphic_path([@videoable, local_video], {:action => "replace"}.merge(@query_string)), title: 'Replace Video', id: 'replace_video_'+local_video.id.to_s, method: :get, remote: true %>
    <td><%= local_video.length %></td>
    <td><%= local_video.instructor.username %></td>
    <td><%= "5 stars" %></td>
		
		<td>
    	<% if !local_video.videofile_processed || local_video.videofile_processed == 0 %>
        <%= link_to image_tag("WaitSpinner.gif", :class => "button", :alt => "Processing Video"), 
                    '#',  id:'video_processing_'+local_video.id.to_s, class: 'video_processing', 
                    data: {url: polymorphic_path([@videoable, local_video], @query_string)} %>

  		  <%= link_to image_tag("ErrorIcon.png", :class => "button", :alt => "Processing Error"),
                    '#',  id:'processing_error_'+local_video.id.to_s, class: 'video_hide_icon',
                   title: 'Processing Error', data: {url: polymorphic_path([@videoable, local_video], @query_string)} %>
          
        <%= link_to image_tag("PlayIcon.png",  :mouseover => "PlayIconHoverPaid.png",:class => "button", :alt => "Play Video"), 
                     polymorphic_path([@videoable, local_video], {:course_asset_id => @course_asset.id}.merge(@query_string)), id:'video_processed_'+local_video.id.to_s, class: 'video_hide_icon', 
                     data: {url: polymorphic_path([@videoable, local_video], @query_string)}, remote:true %>
 
    	<% elsif local_video.videofile_processed < 0 %>
    		<%= link_to image_tag("ErrorIcon.png", :class => "button", :alt => "ERROR"), "#", title: 'Processing Error' %>
    
    	<% else %>
    			<%= link_to image_tag("PlayIcon.png",  :mouseover => "PlayIconHoverPaid.png", :class => "button", :alt => "Play Video"), 
                      polymorphic_path([@videoable, local_video],@query_string), title: 'Play Video', remote:true %>
    	<% end %>
    </td>
	
	<!-- only the video owner can replace or destroy it -->
	<% if current_instructor %>
		<% if current_instructor.id == local_video.instructor_id %>
		  <td><%= link_to image_tag("xDelete.png",  :mouseover => "xDeleteHover.png",:class => "button", :alt => "Delete Video"), 
                      polymorphic_path([@videoable, local_video], @query_string), confirm:'Delete Video - Are you sure?', method: :delete, remote: true %></td>
		<% else %>
			<td></td>
		<% end %>	
	<% end %>
</tr>