<article>
	<div id="buttonarea">
        
		<%= form_for :assetable, :url => course_asset_textbook_delegations_path(@course_asset), :html => { :method => 'get' } do |f| %>
			<%= f.select(:id, @choices.collect{|x| [x.name + (x.section ? "-"+x.section : "") , x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
		<% end %>
		
		<% if @user.class.to_s == "Instructor" %>
  		<%=link_to image_tag("BackToCourses.png",  :mouseover => "BackToCoursesHover.png",:class => "button", :alt => "Back to Courses"), 
  		           instructor_courses_path(@user) %>
    <% else %>
  		<%=link_to image_tag("BackToSubjects.png",  :mouseover => "BackToSubjectsHover.png",:class => "button", :alt => "Back to Subjects"), 
  		           student_subjects_path(@user) %>
    <% end %>
    
		<%=link_to image_tag("AddAsset.png",  :mouseover => "AddAssetHover.png",:class => "button", :alt => "Add Course Asset"), 
		           new_polymorphic_path([@assetable, CourseAsset.new]), remote: true %>
               
    <%=link_to image_tag("AddVideo.png",  :mouseover => "AddVideoHover.png",:class => "button", :alt => "Add a Video"), 
		           new_polymorphic_path([@videoable, TextbookVideo.new], :course_asset_id => @course_asset.id), :id => "add_video", :remote => true %>
               							 
	</div>
	<div id="horizontal-tabs">
    
		<ul class="dynamic-tabs-nav">
			<%= content_tag(:li, (link_to "Lessons", textbook_lessons_path(@textbook, :course_asset_id => @course_asset.id )), class: ("activeTab" if @resource == "lessons")) %>
			<%= content_tag(:li, (link_to "Exercises", textbook_exercises_path(@textbook, :course_asset_id => @course_asset.id )), class: ("activeTab" if @resource == "exercises")) %>
		</ul>
    
	</div>
	<div id="vertical-tabs">
		<ul class="dynamic-tabs-nav">
  		<span class="title">Course Assets</span>
			<% @course_assets.try :eacheach do |asset| %>
				<%= render "shared/course_asset_tag", :local_asset => asset %>
				<% if (@course_asset == asset)&&((@resource == "exercises")||(@resource == "lessons")) %>
					<%= image_tag(@textbook.thumbnail, class: "thumbnail") %>
				<% end %>
  		<% end %>
		</ul>
		<div id="noscroll-panel">			
			<div id="breadcrumbs">
				<% if @resource == "exercises" %>
					<%= @videoable.section_title.name + " Exercise: " + @videoable.number %>
				<% elsif @resource == "lessons"%>
					<%= @videoable.title + " Page: " + @videoable.page %>
				<% end %>
			</div>

			<div class="exercise-asset">
				<%= render "tb_video_table", :videos => @textbook_videos %>
				<br class="clearfloat"/>				
			</div>
		</div>
		<br class="clearfloat"/>
	</div>
	<div id="create_new_section_title_dialog"
	</div>
</article>
