
<div id="ujsform">
<%= form_for @subject, remote:true do |f| %>

	<%= f.label :subject %>
	<%= f.text_field :name, :size => "20" %>

	<%= f.label :description %>
	<%= f.text_field :description, :size => "40" %>

	<%= f.label :term %>
	<%= f.text_field :term, :size => "15" %>

	<%= f.submit "Update", :name => "commit" %>
	<%= f.submit "Cancel", :name => "commit" %>
<% end %>
</div>

