<tr>
	<% if local_subject.archived? %>
		<td><%= local_subject.name %></td>
	<% else %>
		<td><%= link_to local_subject.name, student_subject_path(local_subject.student.id, local_subject.id) %></td>
	<% end %>
	<td><%= local_subject.term %></td>
	<td><%= local_subject.category_name %></td>
	<td><%= form_for local_subject, remote: true do |f| %>
			<%= f.check_box :archived %>
			<%= f.submit :toggle_archive %>
		<% end %>
	</td>
	<td>
		<%= link_to image_tag("xDelete.png",  :mouseover => "xDeleteHover.png",:class => "button", :alt => "Delete Course"),  
			        student_subject_path(current_student.id, local_subject.id), :confirm => "Delete #{local_subject.name} - Are you sure?", 
			        :method => :delete, :remote => true %>
	</td>
</tr>
