<article>
	<div id="buttonarea">
		<%= form_for :subject, :url => { :action => 'show' }, :html => { :method => 'get' } do |f| %>
			<%= f.select(:id, @subjects.collect{|x| [x.name, x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
		<% end %>
		
		<%=link_to image_tag("BackToSubjects.png",  :mouseover => "BackToSubjectsHover.png",:class => "button", :alt => "Back to Subjects"), 
		           student_subjects_path(@student) %>
		<%=link_to image_tag("Enroll.png",  :mouseover => "EnrollHover.png",:class => "button", :alt => "Enroll in course"), 
		           edit_subject_path(@subject), remote: true %>
		<%=link_to image_tag("AddAsset.png",  :mouseover => "AddAssetHover.png",:class => "button", :alt => "Add Course Asset"), 
		           new_polymorphic_path([@subject, CourseAsset.new]), remote: true %>
	</div>
	<div id="horizontal-tabs">
		<ul class="static-tabs-nav">
			<li><a href=".current-asset">Current</a></li>
			<li><a href=".archived-asset">Archived</a></li>
		</ul>
	</div>
	<div id="vertical-tabs">
		<ul class="dynamic-tabs-nav">
  		<span class="title">Subject Assets</span>
			<% @course_assets.each do |asset| %>
				<%= render "shared/course_asset_tag", :local_asset => asset %>
  		<% end %>
		</ul>
		<div id="panel">
			<div class="archived-tab">
			</div>
			<div class="current-tab">
			</div>
		</div>
		<br class="clearfloat"/>
	</div>	
</article>
