<div id="ujsform">
<%= form_for [@textbook, @lesson], remote:true do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, :id => "lesson_title", :size => "65" %>
	
	<%= f.label :page %>
	<%= f.text_field :page, :size => "13" %>
	
	<%= f.hidden_field :subject_id, :value => @subjectId %>
	
	<%= f.submit "Create" %>
	<%= f.submit "Cancel", :onclick => "window.location.reload()" %>
<% end %>
</div>