<tr id="course_<%=local_course.id %>" data-model="course" data-model_id="<%= local_course.id %>" >
  <td>
    <% if local_course.course_assets.count > 0 %>
      <%= link_to local_course.name, send("course_asset_#{CourseAssetModelType.find_by_id(local_course.course_assets.first.model_type).name_of_model}_path", (local_course.course_assets.first)) %>
    <% else %>
      <%= link_to local_course.name, course_path(local_course.id) %>
    <% end %>
  </td>
  <td><%= local_course.section %></td>
  <td><%= local_course.term %> </td>
  <td><%= local_course.instructor.username %> </td>
  <td><%= local_course.instructor.schools.first.name %></td>
  <td>
    <%= link_to image_tag("EditIcon.png",  :mouseover => "EditIconHover.png",:class => "button", :alt => "Edit Course"), 
    edit_course_path(local_course), id: "edit_link_#{local_course.id}" , remote: true %>
  </td>
  <td>
    <%= link_to image_tag("xDelete.png",  :mouseover => "xDeleteHover.png",:class => "button", :alt => "Delete Course"),  
    instructor_course_path(current_instructor.id, local_course.id), :confirm => "Delete [#{local_course.name} - Section #{local_course.section}] - Are you sure?", 
    :method => :delete, :remote => true %>
  </td>
</tr>
