<article>
	<div id="buttonarea">
		<%= form_for @course, :url => { :action => 'show' }, :html => { :method => 'get' } do |f| %>
			<%= f.select(:id, @courses.collect{|x| [x.name + (x.section ? "-"+x.section : "") , x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
		<% end %>
		
		<%=link_to image_tag("BackToCourses.png",  :mouseover => "BackToCoursesHover.png",:class => "button", :alt => "Back to Courses"), 
		           instructor_courses_path(@instructor) %>
		<%=link_to image_tag("AddAsset.png",  :mouseover => "AddAssetHover.png",:class => "button", :alt => "Add Course Asset"), 
		           new_polymorphic_path([@course, CourseAsset.new]), remote: true %>
	</div>
	<div id="horizontal-tabs">
		<ul class="static-tabs-nav">
			<li><a href=".current-tab">Current</a></li>
			<li><a href=".archived-tab">Archived</a></li>
			<li><a href=".future-tab">Future</a></li>
		</ul>
	</div>
	<div id="vertical-tabs">
		<ul class="dynamic-tabs-nav">
      
  		<span class="title"><%= @asset_type %></span>
      <% @enrolled_assets.try :each do |asset| %>
				<%= render "shared/course_asset_tag", :local_asset => asset %>
      <% end %>
			<% @course_assets.try :each do |asset| %>
				<%= render "shared/course_asset_tag", :local_asset => asset %>
      <% end %>
      
		</ul>
		<div id="panel">
			<div class="archived-tab">
			</div>
			<div class="current-tab">
			</div>
			<div class="future-tab">
			</div>			
		</div>
		<br class="clearfloat"/>
	</div>	
</article>
