<article>
	<div id="buttonarea">
		<%= form_for :course, :url => { :action => 'show' }, :html => { :method => 'get' } do |f| %>
			<%= f.select(:id, @courses.collect{|x| [x.name + (x.section ? "-"+x.section : "") , x.id]}, {}, {:onChange => 'this.form.submit();' } ) %>
		<% end %>
		
		<%=link_to image_tag("BackToCourses.png",  :mouseover => "BackToCoursesHover.png",:class => "button", :alt => "Back to Courses"), 
		           instructor_courses_path(@instructor) %>
		<%=link_to image_tag("Edit.png",  :mouseover => "EditHover.png",:class => "button", :alt => "Edit Subject"), 
		           edit_course_path(@course) %>
	</div>
	<div id="ac-tabs">
		<ul class="ac-tabs-nav">
			<li><%= link_to "Textbooks", "#", :class => "tab-markers" %></li>
			<li><%= link_to "Handouts", "#", :class => "tab-markers" %></li>
			<li><%= link_to "Lectures", "#", :class => "tab-markers" %></li>
			<li><%= link_to "Assignments", "#", :class => "tab-markers" %></li>
			<li><%= link_to "Assessments", "#", :class => "tab-markers" %></li>
		</ul>
		<br class="clearfloat"/>
	</div>	
</article>
