<div id="exercisepane" class="tableContainer">
	<table>
		<thead class="fixedHeader">
		  <tr>
		    <th>Number</th>
		    <th>Page</th>
		    <th>Section</th>
				<th></th>
				<th></th>
		  </tr>
		</thead>
		<tbody class="scrollContent">
			<% exercises.each do |exercise| %>
			  <tr>
			    <td><%= link_to exercise.number, exercise_textbook_videos_path(exercise, course_asset_id: @course_asset.id) %></td>
			    <td><%= exercise.page %></td>
			    <td><%= exercise.section_title.name if exercise.section_title %></td>
				<% if current_instructor %>
					<% if current_instructor.id == exercise.instructor_id %>
						<td><%= link_to image_tag("EditIcon.png",  :mouseover => "EditIconHover.png",:class => "button", :alt => "Edit Exercise"),
                     edit_textbook_exercise_path(exercise.textbook, exercise, course_asset_id: @course_asset.id), remote: true %></td>
					  <td><%= link_to image_tag("xDelete.png",  :mouseover => "xDeleteHover.png",:class => "button", :alt => "Delete Exercise"),
                     exercise_path(exercise, course_asset_id: @course_asset.id), confirm: 'Delete Exercise - Are you sure?', method: :delete, :remote => true %></td>
					<% else %>
						<td></td>
						<td></td>
					<% end %>	
				<% end %>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>