<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </div>
  <div class="field">
    <%= f.label :section_title_id %><br />
    <%= f.number_field :section_title_id %>
  </div>
  <div class="field">
    <%= f.label :textbook_id %><br />
    <%= f.number_field :textbook_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
