<div id="ujsform">
  <%= form_for @course_asset, remote: true do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
	
    <%= f.label :model_type, "Asset Type" %>
    <%= f.collection_select :model_type, CourseAssetModelType.all, :id, :name, include_blank: true %>
    
    <%= f.hidden_field :course_id, value: @course.id if @course %>
    <%= f.hidden_field :subject_id, value: @subject.id if @subject %>
	
    <%= f.submit "Submit", :name => "commit" %>
    <%= f.submit "Cancel", :name => "commit" %>
    <%= f.submit "Delete", :name => "commit", data: {confirm: "Are you sure you want to delete #{@course_asset.name}?\nAll content will be lost!" } %>
    

  <% end %>
</div>
