<%= form_for(@course_asset) do |f| %>
  <% if @course_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_asset.errors.count, "error") %> prohibited this course_asset from being saved:</h2>

      <ul>
      <% @course_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.collection_select :parent_id, CourseAsset.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
