<div id="ujsform">
  <%= form_for [@assetable, @course_asset], remote: true do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
	
    <%= f.label :model_type, "Asset Type" %>
    <% if @user_mode == "instructor" %> 
      <%= f.collection_select :model_type, CourseAssetModelType.all, :id, :name, include_blank: true %>
    <% else %>
      <%= f.collection_select :model_type, CourseAssetModelType.where('name != "Videos"'), :id, :name, include_blank: true %>
    <% end %>
	
    <%= f.submit "Submit", :name => "commit" %>
    <%= f.submit "Cancel", :name => "commit" %>

  <% end %>
</div>
