<h1>Listing course_assets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Model</th>
    <th>Course</th>
    <th>Ancestry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_assets.each do |course_asset| %>
  <tr>
    <td><%= course_asset.name %></td>
    <td><%= course_asset.model_type %></td>
    <td><%= course_asset.course_id %></td>
    <td><%= course_asset.ancestry %></td>
    <td><%= link_to 'Show', course_asset %></td>
    <td><%= link_to 'Edit', edit_course_asset_path(course_asset) %></td>
    <td><%= link_to 'Destroy', course_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course asset', new_course_asset_path %>
