<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>AnswerCompanion <%= @page_title %></title>
</head>
<body>
<div id="wrapper">
	<div id="content">
    <header>  
			<%= link_to image_tag("AnswerCompanionLogo.png", :class => "logo"), root_path %>
			<div id="sessioninfo">
				<% if instructor_signed_in? || student_signed_in? || parent_signed_in? %>
					<%= link_to image_tag("LogoutLogo.png",  :mouseover => "LogoutLogoHover.png",:class => "button", :alt => "Logout" ), destroy_user_session_path, :method => :delete %> 
					<%= link_to image_tag("Account.png",  :mouseover => "AccountHover.png",:class => "button", :alt => "Account" ), edit_user_registration_path, remote: true %> </br>
					<%= current_user.email%></br>
					Prior login: <%= current_user.last_sign_in_at.localtime.strftime("%b %d, %Y @ %I:%M:%S%P") %></br>
					<% if current_instructor || current_student %>
						Token Count: <%= current_user.accountbalance %></br>
					<% end %>          
				<% end %>
			</div>   
 		</header>
    <div id="messages">
	  	<span class="notice"><%= notice %></span>
			<span class="ujs_notice"><%= @ujsNotice %></span>
	  	<span class="alert"><%= alert %></span>
			<span class="ujs_alert"><%= @ujsAlert %></span>
  	</div>
		<%= yield %>
    <footer> Version 0.0&nbsp;&nbsp;&nbsp;&nbsp;&copy;2015 Answer Companion, Incorporated&nbsp;&nbsp;&nbsp;&nbsp;Paxton, MA 01612 </footer>
  </div>
</div>
</body>
</html>
